.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1029px){
  .dashboard{
    height: 560px !important;
  }
}

@media only screen   
and (min-width: 1030px)   
and (max-width: 1369px){
  .dashboard{
    height: 555px !important;
  }

}