.table{
    overflow: auto;
    height: 300px;
}

.td{
    height: 1px !important;
}
form{
    overflow: auto;
    height: 55vh;
}
.spinner{
    width: 200px;
    height: 700px !important;
}
@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1029px){
    .table {
        height: 320px !important;
    }
}
@media only screen   
and (min-width: 1030px)   
and (max-width: 1369px){
    .table{
        height: 330px;
    }
}