<section class="container-fluid with-maxwidth">
    <article>
        <h2 class="article-title">New Subscriber</h2>
        <mat-progress-spinner class="spinner" *ngIf="loading" [color]="'accent'" [mode]="'indeterminate'" [diameter]="50"></mat-progress-spinner>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="pull-right">
                        <button type="button" mat-fab color="accent" class="mat-mini-fab mat-accent complete" (click)="setSubscriber()">
                            <i class="material-icons" style="margin-top: 0px;">add</i>
                        </button>
                    </div>
                </div>
            </div>
            <form role="form" [formGroup]="subsForm" #form="ngForm">
                <table class="table mt-3">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">CountryCode</th>
                        <th scope="col">PhoneNumber</th>
                        <th scope="col">JobTitle</th>
                        <th scope="col">Area</th>
                        <th scope="col">Topics</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody class="table-group-divider">
                      <tr *ngFor=" let subscriber of subscribers; let i = index" class="td">
                        <td class="td">
                            <input type="text" name="subscriber.Name" id="subscriber.Name" class="form-control" required formControlName="Name">
                        </td>
                        <td class="td">
                            <input type="text" name="subscriber.Email" id="subscriber.Email" class="form-control" required formControlName="Email">
                        </td>
                        <td class="td">
                            <input type="text" name="subscriber.CountryCode" id="subscriber.CountryCode" class="form-control" required formControlName="CountryCode">
                        </td>
                        <td class="td">
                            <input type="text" name="subscriber.PhoneNumber" id="subscriber.PhoneNumber" class="form-control" required formControlName="PhoneNumber">
                        </td>
                        <td class="td">
                            <input type="text" name="subscriber.Area" id="subscriber.Area" class="form-control" formControlName="Area">
                        </td>
                        <td class="td">
                            <input type="text" name="subscriber.JobTitle" id="subscriber.JobTitle" class="form-control" formControlName="JobTitle">
                        </td>
                        <td class="td">
                            <input type="text" name="subscriber.Topics" id="subscriber.Topics" class="form-control" formControlName="Topics">
                        </td>
                        <td class="td">
                            <a style="color: red;" (click)="deleteSubscriber(subscribers)">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </form>
                <div class="mb-5">
                  <button mat-raised-button color="primary" (click)="createSubscriber()" [disabled]="!subsForm.valid" *ngIf="!saved">Save</button>
                  <button mat-raised-button color="warn" (click)="returnBack()" style="margin-left: 10px;" *ngIf="!saved">Cancel</button>
                </div>
        </div>
    </article>
</section>