<section class="container-fluid with-maxwidth">
    <article>
        <h2 class="article-title">Edit Subscriber</h2>
        <div class="container">
            <form role="form" #form="ngForm">
                <table class="table mt-3">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">CountryCode</th>
                        <th scope="col">PhoneNumber</th>
                        <th scope="col">JobTitle</th>
                        <th scope="col">Area</th>
                        <th scope="col">Topics</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody class="table-group-divider">
                      <tr>
                        <td>
                            <input type="text" name="subscriber.Name" id="subscriber.Name" class="form-control" required [(ngModel)]="subscriber.Name">
                        </td>
                        <td>
                            <input type="email" name="subscriber.Email" id="subscriber.Email" class="form-control" required [(ngModel)]="subscriber.Email">
                        </td>
                        <td>
                            <input type="text" name="subscriber.CountryCode" id="subscriber.CountryCode" class="form-control" required [(ngModel)]="subscriber.CountryCode">
                        </td>
                        <td>
                            <input type="number" name="subscriber.PhoneNumber" id="subscriber.PhoneNumber" class="form-control" required [(ngModel)]="subscriber.PhoneNumber">
                        </td>
                        <td>
                            <input type="text" name="subscriber.Area" id="subscriber.Area" class="form-control" required [(ngModel)]="subscriber.Area">
                        </td>
                        <td>
                            <input type="text" name="subscriber.JobTitle" id="subscriber.JobTitle" class="form-control" required [(ngModel)]="subscriber.JobTitle">
                        </td>
                        <td>
                            <input type="text" name="subscriber.Topics" id="subscriber.Topics" class="form-control" [(ngModel)]="subscriber.Topics">
                        </td>
                        <td>
                            <a style="color: red;" (click)="deleteSubscriber(subscriber.Id)">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </form>
                <div class="mb-5">
                  <button mat-raised-button color="primary" (click)="updateSubscriber()" [disabled]="!form.valid" *ngIf="!saved">Save</button>
                  <button mat-raised-button color="warn" (click)="returnBack()" style="margin-left: 10px;" *ngIf="!saved">Cancel</button>
                </div>
        </div>
    </article>
</section>